.navbar {
  font-family: 'Source Code Pro', monospace;
  margin: 2rem 0;
}

.navbar a {
  color: black;
  transition: all 0.25s ease-in;
}

.navbar a:hover {
  opacity: 0.5;
}

.navbar-brand {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav {
  text-transform: uppercase;
}

.navbar-nav li {
  margin: 0 0.5rem;
}

p, li {
  font-family: 'Encode Sans', sans-serif;
  font-size: 1.25rem;
}

.link {
  font-family: 'Source Code Pro', monospace;
  color: black;
  transition: all 0.25s ease-in;
}

.link:hover {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

#hero img, #div img {
  width: 100%;
}

#hero .content {
  position: absolute;
  top: 7.5rem;
  color: white;
  text-align: center;
}

#hero h1 {
  margin-bottom: 2.5rem;
}

#hero h1 {
  font-family: 'Encode Sans', sans-serif;
}

#div {
  padding: 0;
}

.header {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}

.card h4 {
  font-family: 'Source Code Pro', monospace;
}

footer {
  background: black;
  color: white;
  font-family: 'Source Code Pro', monospace;
  padding: 5rem 0;
  position: relative;
}

footer .navbar-brand {
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #hero {
    background: black;
    padding: 0;
  }

  #hero img {
    opacity: 0.33;
  }

  #hero .content {
    top: 2rem;
  }

  #hero .link {
    color: white;
  }

  .card {
    width: 100%;
    flex: none;
    margin: 0;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .card {
    width: 100%;
    flex: none !important;
    margin: 0;
  }
}
